<div class="Main_container">
  <% @bookings.each do |booking| %>
    <div class="Form_container" id="Booking_list">
      <h3>Passenger: <%= booking.passenger.name %></h3>
      <h3>Departure from: <%= booking.flight.origin.name %></h3>
      <h3>Destination: <%= booking.flight.destination.name %></h3>
      <h3>Departure date: <%= booking.flight.departure %></h3>
    </div>
    <br>
  <% end %>
</div>