<% @bookings.each do |booking| %>
  <h3><%= booking.flight.origin.name %></h3>
  <h3><%= booking.flight.destination.name %></h3>
  <h3><%= booking.passenger.name %></h3>
  <h3><%= booking.passenger.email %></h3>
  <br>
<% end %>